ul{
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    align-items: center;
    padding: 16px;
}

body {
    background-color: black;
    color: white;
}

a {
    text-decoration: none;
    color: white;
}

 a:hover {
    color: blueviolet;
}

.container{
    padding: 0px 50px;

}

